html {
  font-size: 14px;
}

body{
  background-color:beige;
}

a:hover{
  background-color: beige;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

nav{
  font-family:sans-serif;
}

.blog-header {
  margin-top: 7rem;
  max-width: 700px;
}

@media (max-width: 768px) {
  .blog-header{
    margin-top: 8rem;
  }
}

.container {
  max-width: 96opx;
}

.team {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 2rem;
}

.card-deck .card{
  min-width: 220px;
}

.card-text{
  padding-top: 1rem;
}

.card-block{
  min-height: 220px;
}

.active {
  border-bottom: 1px solid black;
}

h1{
  font-style:italic;
}

.lead{
  font-style:italic;
}

